## Imports

In [1]:
import pandas as pd
import numpy as np

## Read Data

#### Column descriptions at https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success

In [2]:
df = pd.read_csv('data.csv', sep=';')

In [3]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [4]:
for i in range(len(df.columns)):
    print('Column ' + str(i) + ': ' + df.columns[i])

Column 0: Marital status
Column 1: Application mode
Column 2: Application order
Column 3: Course
Column 4: Daytime/evening attendance
Column 5: Previous qualification
Column 6: Previous qualification (grade)
Column 7: Nacionality
Column 8: Mother's qualification
Column 9: Father's qualification
Column 10: Mother's occupation
Column 11: Father's occupation
Column 12: Admission grade
Column 13: Displaced
Column 14: Educational special needs
Column 15: Debtor
Column 16: Tuition fees up to date
Column 17: Gender
Column 18: Scholarship holder
Column 19: Age at enrollment
Column 20: International
Column 21: Curricular units 1st sem (credited)
Column 22: Curricular units 1st sem (enrolled)
Column 23: Curricular units 1st sem (evaluations)
Column 24: Curricular units 1st sem (approved)
Column 25: Curricular units 1st sem (grade)
Column 26: Curricular units 1st sem (without evaluations)
Column 27: Curricular units 2nd sem (credited)
Column 28: Curricular units 2nd sem (enrolled)
Column 29: Curricular units 2nd sem (evaluations)
Column 30: Curricular units 2nd sem (approved)
Column 31: Curricular units 2nd sem (grade)
Column 32: Curricular units 2nd sem (without evaluations)
Column 33: Unemployment rate
Column 34: Inflation rate
Column 35: GDP
Column 36: Target

## Cleaning

In [12]:
# find null values
df.isnull().sum().sum()
# no nulls found; the dataset's creators did all necessary cleaning

0

Dataset creators' comment on cleaning: 'We performed a rigorous data preprocessing to handle data from anomalies, unexplainable outliers, and missing values.'

## Preprocessing

## Analysis